
$pri-color-dark: #061824;
$pri-color-mid: #1E3E52;
$pri-color-light: #467C9E;
$pri-text-color: #CBECFD;
$pri-link-color: #8EC9D1;
$pri-link-accent-color: #FFFFFF;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
    border: 0;
}

html,body {
    font-family: 'Exo', sans-serif;
    color: $pri-text-color;
    height: 100%;
}

body {
    // background-image: radial-gradient(farthest-corner at 50% 125%, $pri-color-light 0%, $pri-color-dark 100%);
    background-image: linear-gradient(0deg, $pri-color-dark 0%, $pri-color-mid 100%);
    background-size: auto 600px;
    background-repeat: repeat-x;
    background-color: $pri-color-dark;
    background-position: left top;
}

a {
    color: $pri-link-color;
    text-decoration: none;

    &:hover {
        color: $pri-link-accent-color;
        background: none;
        text-decoration: none;
    }
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: 'Exo', sans-serif;
    font-size: large;
    color: $pri-text-color;
    padding: 5px 25px;
    width: 300px;
    cursor: pointer;
    border: 2px solid $pri-link-color; 
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
        color: $pri-link-accent-color;
        border: 2px solid $pri-link-accent-color;
    }
    .main {
       width: 300px; 
    }
}

h1,h2,h3,h4 {
    font-weight: bold;
}

#map {
    border: 10px solid $pri-color-mid;
    width: 1000px;
    height: 400px;
}

.midvspacer {
    height: 35vh;
}

.topvspacer {
    height: 10vh;
}

.hcenter {
    text-align: center;
}